
/* ID */
#wrapper h1{
    text-align: center;
    margin: 25px 0 0 0;
}
#wrapper h2.sub-title{
    text-align: center;
    margin: 0 0 25px 0;
}
#wrapper figure blockquote {
    margin:0
}

/* CLASS */
.mega-menu ul li a {
  color: green
}
.container h2 span {
    margin-right: 20px;
}
.bg-white{
    background-color: white !important
}
.border-test{
    border: 1px solid black;
}

.quote {
    background-color: #ebebeb;
    border-radius: 1em;
    color: #212121
}
.quote blockquote {
    margin: 1.5em 10px;
    padding: 1.5em 10px 0.5em 10px;
    text-align: justify;
}
.quote blockquote.quote-sm {
    font-size: 10pt;
}
.quote figcaption {
    /*border: 1px solid black;*/
    padding: 0px 0px 0.5em 0px;
    overflow: hidden;
    position: relative;
}

.quote img {
    width: auto;
    max-height: 150px;
    padding: 20px;
    border-radius: 6px;

}

.quote figcaption img {
    width: 60px;
    height: 60px;
    padding: 0;
}

.department {
    background-color: #ebebeb;
    border-radius: 1em;
    color: #454545
}
.department h3 {
    margin: 0;
    padding: 25px 0 0 0;
    text-align: center;
}
.department blockquote {
    margin: 0;
    padding: 25px 10px;
    text-align: justify;
}
.department img {
    width:auto;
    max-height: 125px;
    border-spacing: inherit;
    margin: auto;
}
